:root {
  --themeBG: #1a1b26;
  --themeBG1: #24283b;
  --themeBG2: #414868;
  --themeBG3: #565f89;
  --themeFG: #c0caf5;
  --themeFG1: #a9b1d6;
  --themeFG2: #9aa5ce;
  --themeYellow: #e0af68;
  --themeRed: #f7768e;
  --themeGreen: #9ece6a;
  --themeBlue: #7aa2f7;
  --themePurple: #bb9af7;
}
