.status {
  background-color: $borderColor;
  border: $borderSize solid $borderColor;
}

.status-item {
  background-color: $bgColor;
  border-radius: $borderRadius;
  font-family: "Inter";
  font-size: 13;
  font-weight: 700;
  min-width: 60px;
  padding: 7;
}
